/*
Header fonts: Tajawal;
Body fonts: Roboto;

font-family: 'Roboto', sans-serif;
font-family: 'Tajawal', sans-serif;

Light and dark colors invert for light/dark themes
Light background color: #F4F4F4;
Dark background color: #1E1E1E;
Tertiary gold/yellow accent color: #FFDF00;
*/

/********** global styling **********/
body {
	font-family: 'Roboto', sans-serif;
	background-color: #1E1E1E;
	color: #F4F4F4;
	transition: all 1s;
	overflow-x: hidden;
	font-size: 18px;
}

h1 {
	font-family: 'Tajawal', sans-serif;
	transition: all 1s;
	letter-spacing: 8px;
}

h2 {
	font-family: 'Tajawal', sans-serif;
	transition: all 1s;
	letter-spacing: 5px;
}

a {text-decoration: none;}
a:link{color:inherit;}
a:active{color:inherit;}
a:visited{color:inherit;}
a:hover {color:inherit;}

/*the nice link underlining, with yellow accent*/
a {
	position: relative;
	color: #000;
	text-decoration: none;
}

a:hover {
	transition: .5s;
	color: #FFDF00;
}
a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFDF00;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

/********** animations **********/
/*  To be super duper fair I just found this
	oneline and used the code from the source
	but it looks nice and is super smooth so 
	I decided to use it!
	source: https://codepad.co/snippet/PYE0krXf */
.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* animation delays */
.one {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.two {
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	animation-delay: .75s;
}

.three {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.four {
	-webkit-animation-delay: 1.25s;
	-moz-animation-delay: 1.25s;
	animation-delay: 1.25s;
}

.five {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.six {
	-webkit-animation-delay: 1.75s;
	-moz-animation-delay: 1.75s;
	animation-delay: 1.75s;
}

.seven {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.eight {
	-webkit-animation-delay: 2.25s;
	-moz-animation-delay: 2.25s;
	animation-delay: 2.25s;
}

.two-index {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.three-index {
	-webkit-animation-delay: 2.5s;
	-moz-animation-delay: 2.5s;
	animation-delay: 2.5s;
}

.four-index {
	--webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

.five-index {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.six-index {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay: 4s;

}

.seven-index {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay: 4.5s;
}

.eight-index {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay: 5s;
}

.nine-index {
	-webkit-animation-delay: 5.5s;
	-moz-animation-delay: 5.5s;
	animation-delay: 5.5s;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
 }

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

/********** index styling **********/
#underlay {
	z-index: 1;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#index-grid {
	display: grid;
	grid-template-areas: "header"
						 "navpic1"
						 "navpic2"
						 "navpic3";
	grid-template-rows: 10% 30% 30% 30%;
	z-index: 2;
	position: relative;
}

#header {
	grid-area: header;
}

.nav-link {
	padding-top: 1%;
	padding-bottom: 4%;
	display: inline-block;
}

#about {
	margin-left: 30%;
	grid-area: navpic1;
	float: left;
}

#do {
	margin-left: 10%;
	grid-area: navpic2;
	float: left;
}

#contact {
	margin-left: 22.5%;
	grid-area: navpic3;
	float: left;
}

img {
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg {
	height: 800px;
	width: 800px;
	background-size: cover;
	border-radius: 800px;
	right: -20%;
	position: relative;
	opacity: .8;
}

#bg-index {background-image: url("./img/1.jpg");}

#bg-about {background-image: url("./img/2.jpg");}

#bg-do {background-image: url("./img/3.jpg");}

#bg-contact {background-image: url("./img/4.jpg");}

.pic {
	height: 120px;
	width: 120px;
	border-radius: 60px;
	float: right;
	opacity: .8;
	background-size: cover;
	transition: .5s;
}

#pic1 {
	background-image: url("./img/2.jpg");
	grid-area: navpic1;
	margin-right: 40%;
}

#pic2 {
	background-image: url("./img/3.jpg");
	grid-area: navpic2;
	margin-right: 60%;
}

#pic3 {
	background-image: url("./img/4.jpg");
	grid-area: navpic3;
	margin-right: 47.5%;
}

/* invisible link solution adapted from 
https://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.invisibleLink {
	position: relative;
}
.invisibleLink a {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 3;
	background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

/********** pages styling **********/
#page-grid {
	display: grid;
	grid-template-areas: "header"
						 "pagecontainer";
	grid-template-rows: 15% 85%;
	z-index: 2;
	position: relative;
}

#page-container {
	margin-left: 5%;
	margin-right: 30%;
	display: grid;
	grid-template-areas: "navbar pagecontent";
	grid-template-columns: 25% 65%;
}

#header {
	grid-area: header;
	margin: 5%;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}

.nav-bar {
	grid-area: navbar;
}

.nav-item {
	font-family: 'Tajawal', sans-serif;
}

#page-content {
	padding-left: 5%;
	padding-right: 5%;
	grid-area: pagecontent;
}

.lightbulb {
	color: #F4F4F4;
	bottom: 2%;
	left: 1%;
	position: fixed;
	z-index: 99;
}

.lightbulb:hover {
	cursor: pointer;
	opacity: .8;
}

#social-links a {
	margin-right: 5%;
}

#social-links a:hover {
	opacity: .5;
	cursor: pointer;
}

/******************************************/
/********** begin media query bs **********/

/* medium-large display */
@media (max-width: 1000px) {
	.bg {
		height: 600px;
		width: 600px;
		border-radius: 600px;
	}
	#about {margin-left: 20%;}
	#contact {margin-left: 17.5%;}
	#pic1 {margin-right: 40%;}
	#pic2 {margin-right: 50%;}
	#pic3 {margin-right: 40%;}
}

/* medium display */
@media (max-width: 800px) {
	#header {
		margin-right: 50%;
	}
	.bg {
		height: 400px;
		width: 400px;
		border-radius: 400px;
	}
	#about {margin-left: 15%;}
	#do {margin-left: 5%}
	#contact {margin-left: 12.5%;}
	#pic1 {margin-right: 45%;}
	#pic2 {margin-right: 55%;}
	#pic3 {margin-right: 45%;}
}

/* narrow-ish display */
@media (max-width: 600px) {
	#underlay{
		align-items: flex-start;
		top: 1%;
	}
	.bg {
		height: 200px;
		width: 200px;
		border-radius: 200px;
	}
	#about {margin-left: 20%;}
	#do {margin-left: 5%}
	#contact {margin-left: 15%;}
	#pic1 {margin-right: 35%;}
	#pic2 {margin-right: 50%;}
	#pic3 {margin-right: 35%;}
	#do {margin-left: 5%;}
	.pic {
		height: 90px;
		width: 90px;
		align-items: center;
		justify-content: flex-end;
	}
	#header {margin-right: 50%;}
}

/* even more narrow display */
@media (max-width: 435px) {
	#underlay{
		align-items: flex-end;
		bottom: 0;
	}
	#header {margin-right: 50%;}
	#about {margin-left: 5%;}
	#do {margin-left: 5%;}
	#contact {margin-left: 5%;}
	#pic1 {margin-right: 50%;}
	#pic2 {margin-right: 50%;}
	#pic3 {margin-right: 50%;}
}

/* tiniest shit in existence */
@media (max-width: 320px) {
	#header {margin-left: 1%;}
	#index-grid {margin-left: 1%;}
	#page-grid {margin-left: 1%;}
}